.gamebox {
  width:  640px;
  margin:  0px 0px 15px 3px;
  padding-top:  10px;
  padding-bottom:  10px;
}

.gamebox h1 {
  margin-left:  3px;
  margin-right:  3px;
}  
  
.gamebox  h2 {
  margin:  0px 0 5px 0;
  padding:  5px 0px 0px 10px;
  overflow: hidden;
}
.game_title { 
  padding-left: 3px; 
  height: 113px;
}